.app-download {
    margin: auto auto;
    margin-top: 100px;
    font-size: max(1.3vw,16px);
    text-align: center;
    font-weight:  380;
}
.app-download-platforms {
    display: flex;
    justify-content: center;
    gap: max(2vw,10px);
    margin-top: 40px;
}
.app-download-platforms img {
    width: max(18vw,110px);
    max-width: 140px;
    transition: 0.5s;
    cursor: pointer;
}
.app-download-platforms img:hover {
    transform: scale(1.05);
}