
.explore-menu {
  text-align: center;
  padding: 30px 20px;
}

.explore-menu h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.explore-menu-text {
  max-width: 700px;
  margin: 0 auto 30px auto;
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}


.explore-menu-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; 
}


@media (max-width: 768px) {
  .explore-menu-list {
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    scrollbar-color: #bbb transparent;
  }

  .explore-menu-list::-webkit-scrollbar {
    height: 6px;
  }
  .explore-menu-list::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 3px;
  }
}

.explore-menu-card {
  flex: 0 0 auto;
  min-width: 120px;
  padding: 12px;
  border: 2px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.explore-menu-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.explore-menu-card p {
  font-size: 0.95rem;
  font-weight: 500;
  color: #333;
}

.explore-menu-card.active {
  border-color: #ccc; 
}
